html,
body {
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  	overflow: hidden;
}

body {
    font-family: $roboto;
    font-size: 15px;
    color: $colorMain;
    display: flex;
    flex-direction: column;
}

@keyframes gradientBg {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 100% 100%;
    }
}

@keyframes cursor {
    0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.main {
    flex: 1 1 auto;
    background-image: linear-gradient(-45deg, #cabbf1, #fffdc7, #d7fff1, #a0db8e, #4CA1AF, #3498db, #4B79A1);
    background-size: 1000% 1000%;
    animation: gradientBg 60s infinite alternate;
	position: relative;
	overflow: hidden;

    &__text-wrap {
		user-select: none;
        color: $color01;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        font-size: 65px;
        font-weight: 700;
		line-height: 1em;
		transition: font-size .2s, opacity .6s;

		&--hide {
			opacity: 0;
		}
		
		@include sm {
			font-size: 50px;
		}

		@include xs {
			font-size: 35px;
		}
	}
	
	&__text {
		opacity: 0;

		&.active {
			opacity: 1;
		}
	}

	&__cursor {
		display: block;
		position: absolute;
		height: 100%;
		top: 0;
		right: 0;
		width: .031em;
		background-color: $color01;
		z-index: 1;
		animation: cursor .5s infinite alternate;
	}
}