%fixedBlock {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.blocked {
	@extend %fixedBlock;
	display: none;
	background-color: $bgMain;
	z-index: 100;
}

// Preloader-----------------
.preloader {
	@extend %fixedBlock;
	z-index: 10;
	background-color: $bgMain;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: opacity .5s 0s, visibility 0s .5s, z-index 0s .5s;
	display: flex;
	justify-content: center;
	align-items: center;

	&.loading {
		pointer-events: auto;
		opacity: 1;
		visibility: visible;
		z-index: 10;
		transition: opacity .5s 0s, visibility 0s 0s, z-index 0s 0s;
	}

	.spinner {
		display: inline-block;
		position: relative;
		width: 80px;
		height: 80px;

		div {
			transform-origin: 40px 40px;
			animation: spinner 1.2s linear infinite;

			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 3px;
				left: 37px;
				width: 6px;
				height: 18px;
				border-radius: 20%;
				background-color: $bgColor02;
			}

			&:nth-child(1) {
				transform: rotate(0deg);
				animation-delay: -1.1s;
			}

			&:nth-child(2) {
				transform: rotate(30deg);
				animation-delay: -1s;
			}

			&:nth-child(3) {
				transform: rotate(60deg);
				animation-delay: -0.9s;
			}

			&:nth-child(4) {
				transform: rotate(90deg);
				animation-delay: -0.8s;
			}

			&:nth-child(5) {
				transform: rotate(120deg);
				animation-delay: -0.7s;
			}

			&:nth-child(6) {
				transform: rotate(150deg);
				animation-delay: -0.6s;
			}

			&:nth-child(7) {
				transform: rotate(180deg);
				animation-delay: -0.5s;
			}

			&:nth-child(8) {
				transform: rotate(210deg);
				animation-delay: -0.4s;
			}

			&:nth-child(9) {
				transform: rotate(240deg);
				animation-delay: -0.3s;
			}

			&:nth-child(10) {
				transform: rotate(270deg);
				animation-delay: -0.2s;
			}

			&:nth-child(11) {
				transform: rotate(300deg);
				animation-delay: -0.1s;
			}

			&:nth-child(12) {
				transform: rotate(330deg);
				animation-delay: 0s;
			}
		}
	}
}

@keyframes spinner {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

// btn--------------------
.switch {
	cursor: pointer;
	position: relative;
	font-size: 14px;
	padding: 0 .4em;
	width: 4em;
	height: 2em;
	border-radius: 2em;
	background-color: $bgActive;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;

	&:before,
	&:after {
		content: "EN";
		font-size: 1em;
		line-height: 1em;
		color: $color02;
	}

	&:after {
		content: "RU";
	}

	&__circle {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 2em;
		height: 2em;
		border-radius: 50%;
		background-color: $bgMain;
		transition: left .3s;

	}
}

#language {
	display: none;

	&:checked {

		&~.switch .switch__circle {
			left: 50%;
		}
	}
}

// Hover border
.hover-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0.2em;
        background-color: $color02;
        transition: width 0.2s;
        transition-delay: 0.2s;
    }

    &:after {
        top: auto;
        bottom: 0;
        right: auto;
        left: 0;
        transition-delay: 0.6s;
    }

    & i:before,
    & i:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0.2em;
        height: 0;
        background-color: $color02;
        transition: height 0.2s;
    }

    & i:after {
        left: auto;
        right: 0;
        top: auto;
        bottom: 0;
        transition-delay: 0.4s;
    }
}