@keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.container {
    width: 100%;
    padding: 0 10px;
    max-width: 1270px;
	margin: 0 auto;
	
	&--popup {
		padding: 15px;
	}
}

.title {
    text-transform: uppercase;
    font-size: 1em;
    
    &--main {
        color: $colorMain;
        @include responsive-fz(80, 40, 1199);
    }

    &--secondary {
        text-transform: none;
        padding: 1.2em 1.5em;
        background-color: #f0f0f0f0;
        border-left: 0.5em solid $colorActive;

        span {
            font-size: 1.6em;
        }
    }

    @include min-w-xl {

        &--main {
            font-size: 8em;
        }
    }
}

.text {

    &--lh-1 {
        line-height: 1em;
    }

    &--center {
        text-align: center;
    }

    &--gradient {
        background-image: linear-gradient(to right, $colorMain 0%, $colorActive 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: hue 20s infinite linear;
    }
}

