.popup {
    font-size: 10px;
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
	right: 0;
	opacity: 0;
	z-index: -1;
	pointer-events: none;
	visibility: hidden;
	transition: opacity .7s 0s, visibility 0s .7s, z-index 0s .7s;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: 6em 1em 1em;

	&--update-padding {

		@include max-w-xs {
			padding: 11.3em 1em 1em;
		}

		@include min-w-sm {
			padding: 12em 1em 1em;
		}
	}

	&.active {
		pointer-events: auto;
		opacity: 1;
		z-index: 4;
		visibility: visible;
		transition: opacity .7s .5s, visibility 0s 0s, z-index 0s 0s, padding .4s;
	}

	&__wrap {
		position: relative;
		height: 100%;
		width: 100%;
		max-width: 125em;
		margin: 0 auto;
		background-color: $bgColor01;
	}

	&__inner {
		height: 100%;
		overflow: auto;
		-webkit-overflow-scrolling: touch;

		&::-webkit-scrollbar {
			width: 0.8em;
			height: 0.8em;
		}
		
		&::-webkit-scrollbar-track {
			background-color: $bgColor03;
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: #0078d4;
		}
    }
    
    &__box {
        margin-top: 2em;
    }
}