// Fonts
$roboto: 'Roboto', sans-serif;
$caveat: 'Caveat', cursive, sans-serif;

// Colors
$colorMain: #666666;
$colorIcon: #444444;
$colorTitle: rgba(0, 0, 0, .1);
$colorSubTitle: #212529;
$colorPlaceholder: #6c757d;
$colorActive: #0078d4;
$color01: #212529;
$color02: #eeeeee;
$bgMain: #eeeeee;
$bgColor01: #ffffff;
$bgColor02: #444444;
$bgColor03: #d0d0d0;
$bgActive: #0078d4;