<div class="popup popup--contacts">
	<div class="popup__wrap">
		<div class="popup__inner">
			<div class="container container--popup">
                <h2 class="title title--main text text--center text--gradient text--not-gradient locale-contacts-title">Contacts</h2>
                <div class="popup__box">
                    <h4 class="title title--secondary"><span class="locale-contacts-box-title">Get in touch</span></h4>
                    <ul class="contacts">
                        <li>
                            <a href="mailto:vadim.stebakov.94@gmail.com" class="contacts__link">
                                <svg>
                                    <use xlink:href="#icon-email"></use>
                                </svg>
                                <span>vadim.stebakov.94@gmail.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="tel:+380666589509" class="contacts__link">
                                <svg>
                                    <use xlink:href="#icon-phone"></use>
                                </svg>
                                <span>+380666589509</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/vadymstebakov" target="_blank" class="contacts__link">
                                <svg>
                                    <use xlink:href="#icon-telegram"></use>
                                </svg>
                                <span>Telegram</span>
                            </a>
                        </li>
                        <li>
                            <a href="skype:stebak94?chat" class="contacts__link">
                                <svg>
                                    <use xlink:href="#icon-skype"></use>
                                </svg>
                                <span>Skype</span>
                            </a>
                        </li>
                    </ul>
                </div>
			</div>
		</div>
	</div>
</div>