<header id="header" class="header">
	<div class="header__inner">
		<div class="container header__box">
			<div class="header__side">
				<a href="#" class="header__humburger">
					<span></span>
				</a>
				<div class="header__name locale-header-name">Vadym Stebakov</div>
			</div>
			<form action="#" class="header__form header__form--disable">
				<input type="checkbox" id="language">
				<label for="language" class="switch">
					<span class="switch__circle"></span>
				</label>
			</form>
			<nav class="header__nav">
				<a href="#" class="header__nav-link hide-popup active">
					<svg class="header__icon icon-home">
						<use xlink:href="#icon-home"></use>
					</svg>
					<span class="header__nav-text locale-header-menu">Home</span>
				</a>
				<a href="#" class="header__nav-link show-popup" data-popup="popup--about-me">
					<svg class="header__icon icon-user">
						<use xlink:href="#icon-user"></use>
					</svg>
					<span class="header__nav-text locale-header-menu">About me</span>
				</a>
				<a href="#" class="header__nav-link show-popup" data-popup="popup--portfolio">
					<svg class="header__icon icon-bag">
						<use xlink:href="#icon-bag"></use>
					</svg>
					<span class="header__nav-text locale-header-menu">Portfolio</span>
				</a>
				<a href="#" class="header__nav-link show-popup" data-popup="popup--contacts">
					<svg class="header__icon icon-contacts">
						<use xlink:href="#icon-contacts"></use>
					</svg>
					<span class="header__nav-text locale-header-menu">Contacts</span>
				</a>
				<span class="header__line"></span>
			</nav>
		</div>
	</div>
</header>