<div class="popup popup--portfolio">
	<div class="popup__wrap">
		<div class="popup__inner">
			<div class="container container--popup">
                <h2 class="title title--main text text--center text--gradient text--not-gradient locale-portfolio-title">Portfolio</h2>
                <ul class="portfolio">
                    <li>
                        <div class="portfolio__card">
                            <figure class="portfolio__card-img-wrap">
                                <img class="portfolio__card-img" src="../images/octarine.jpg" alt="Octarine">
                            </figure>
                            <figcaption class="portfolio__card-info">
                                <a href="https://octarine.com.ua" target="_blank" class="portfolio__card-link text text--center text--lh-1">
                                    <span>Octarine</span>
                                    <span class="hover-border">
                                        <i></i>
                                    </span>
                                </a>
                            </figcaption>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio__card">
                            <figure class="portfolio__card-img-wrap">
                                <img class="portfolio__card-img" src="../images/petrovo-dalnee.jpg" alt="Petrovo Dalnee">
                            </figure>
                            <figcaption class="portfolio__card-info">
                                <a href="https://petrovo.octarine.com.ua/" target="_blank" class="portfolio__card-link text text--center text--lh-1">
                                    <span>Petrovo Dalnee</span>
                                    <span class="hover-border">
                                        <i></i>
                                    </span>
                                </a>
                            </figcaption>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio__card">
                            <figure class="portfolio__card-img-wrap">
                                <img class="portfolio__card-img" src="../images/vernipolis.jpg" alt="Verni Polis">
                            </figure>
                            <figcaption class="portfolio__card-info">
                                <a href="https://vernipolis.ru/" target="_blank" class="portfolio__card-link text text--center text--lh-1">
                                    <span>Vernipolis</span>
                                    <span class="hover-border">
                                        <i></i>
                                    </span>
                                </a>
                            </figcaption>
                        </div>
                    </li>
                    <li>
                        <div class="portfolio__card">
                            <figure class="portfolio__card-img-wrap">
                                <img class="portfolio__card-img" src="../images/falling-bricks.jpg" alt="Game Falling Bricks">
                            </figure>
                            <figcaption class="portfolio__card-info">
                                <a href="https://vadymstebakov.github.io/Falling-Bricks/dist/" target="_blank" class="portfolio__card-link text text--center text--lh-1">
                                    <span>Game Falling Bricks</span>
                                    <span class="hover-border">
                                        <i></i>
                                    </span>
                                </a>
                            </figcaption>
                        </div>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</div>