<footer class="footer">
    <ul class="footer__links">
        <li class="footer__link-wrap">
            <a href="https://github.com/vadymstebakov" class="footer__link" target="_blank" title="GitHub">
                <svg>
                    <use xlink:href="#icon-github"></use>
                </svg>
            </a>
        </li>
        <li class="footer__link-wrap">
            <a
                href="https://www.linkedin.com/in/vadym-stebakov-85624215a"
                class="footer__link"
                target="_blank"
                title="Linkedin"
            >
                <svg>
                    <use xlink:href="#icon-linkedin"></use>
                </svg>
            </a>
        </li>
        <li class="footer__link-wrap">
            <a href="mailto:vadim.stebakov.94@gmail.com" class="footer__link" title="Email">
                <svg>
                    <use xlink:href="#icon-email"></use>
                </svg>
            </a>
        </li>
    </ul>
</footer>
