<!doctype html>
<html lang="en">

<head>
	<title>Vadym Stebakov - Web Developer</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="images/favicon/favicon.ico" type="image/ico">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon-180x180.png">
	<!--[if lte IE 9]>
		<style type="text/css">
			.blocked {
				display: block;
			}
		</style>
	<![endif]-->
</head>

<body>
	<div class="blocked"></div>
	<!-- <div class="preloader loading">
		<div class="spinner">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div> -->
	<%= require('html-loader!./partials/header.html') %>
	<main class="main">
		<div id="type-text" class="main__text-wrap">
			<span class="main__cursor"></span>
			<span class="main__text locale-home-main">Web development</span>
		</div>
	</main>
	<%= require('html-loader!./partials/popups.html') %>
</body>

</html>