---
type Props = {
    title?: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <title>{title || 'Vadym Stebakov | Front-End Engineer'}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="format-detection" content="telephone=no" />
        <link rel="icon" href="/me/favicon.ico" sizes="any" />
        <link rel="icon" href="/me/favicon.svg" type="image/svg+xml" />
        <link rel="apple-touch-icon" href="/me/apple-touch-icon.png" />
    </head>
    <body>
        <div class="wrap">
            <slot />
        </div>
    </body>
</html>

<style is:global>
    :root {
        /* Fonts */
        --font-primary: 'Arial', sans-serif;

        /* Colors */
        --color-dark: hsl(206deg, 21%, 15%);
        --color-light: hsl(0deg, 0%, 100%);

        /* Transitions */
        --default-duration: 0.2s;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    html,
    body {
        height: 100%;
    }

    html {
        background-color: var(--color-light);
    }

    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
        color: var(--color-dark);
        font-family: var(--font-primary);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
        hyphens: auto;
    }

    ul,
    ol {
        padding: 0;
        list-style: none;
    }

    @media (prefers-reduced-motion: reduce) {
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }

    @media (prefers-color-scheme: dark) {
        html {
            background-color: var(--color-dark);
        }

        body {
            color: var(--color-light);
        }
    }

    .wrap {
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }
</style>
